h2 $scope.$new
div Scopes are forked to create children

pre.example
	include $new.js

.sub-note Manually forking $new scopes is exceedingly rare. This is generally managed by directives.
.sub-note Scopes prototypically inherit from parents; more in common gotchas
