h2 bindonce
p A nifty little library that has 'watch until defined' semantics
.small
	| Mirrors almost all of the 
	code ng-*
	|  directives
ul
.sub-note
	a(href="https://github.com/Pasvaz/bindonce") https://github.com/Pasvaz/bindonce
.sub-note
	| Bindonce demo
	a(href="http://plnkr.co/edit/jwrHVb?p=preview") http://plnkr.co/edit/jwrHVb?p=preview
