.no-support-message
	display:none
	
	.impress-not-supported & 
		display:block

body
	background: #EBEBEB
	font: inherit "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	color:#333
	font-size: 5em

	.small
		font-size: .6em

	.sub-note
		font-size: 0.3em

		&::before
			content:"* "

	pre.example
		font-size: inherit
		display: block
		font-size: .4em

	code
		font-size: 0.8em

	small
		color: #777

h1, h2, h3, h4, h5
	small
		margin-left: 20px

.step
	width: 900px
	padding: 40px
	box-sizing: border-box
	font-size: inherit
	// 48px
	line-height: 1.5
	transition: all .5s
	transition-property: opacity, color
	
	&:not(.active) 
		opacity: 0.1
		color: #999 !important

