html
	head
		title
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(href='assets/impressConsole.css', rel='stylesheet')
		link(href='assets/bootstrap.css', rel='stylesheet')
		link(href='index.css', rel='stylesheet')
	body
		#impress
			.no-support-message
				| Sorry! Your browser is unable to load the Impress slideshow. Try reloading the page in Google Chrome or Safari.
			
			include src/basics/index
			include src/performance/index
			include src/integration/index
			include src/pitfalls/index
			
			#end.step(data-rotate-y="45", data-y="-500", data-z="1")
				//- (data-scale='1', data-x="", data-y="-500")
				h1 The End
				.sub-note
					a(href="https://github.com/pcw216/core_framework_ng_slides") https://github.com/pcw216/core_framework_ng_slides
		
		script(type='text/javascript', src='assets/impress.js')
		script(type='text/javascript', src='assets/impressConsole.js')
		script(type='text/javascript').
			impress().init();
			impressConsole().init('assets/impressConsole.css');
			//- impressConsole().registerKeyEvent([78], showSlideNumbers, window);
			</script>
